*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
#root {
  text-align: center;
  background-color: white;
  margin: 0% ;
}
@media only screen and (max-width: 768px){
  #root {
    text-align: center;
    background-color: white;
    margin: 0% ;
    width: 100%;
    margin-right:0px;
  }
}

